* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: bolder;
    font-style: normal;
    text-transform: uppercase;
}


img {
    max-width: 100%;
    height: auto;
}


:root {
    --verde: #5f7132;
    --gris: #6a6b66;
    --azul: #5574b0;
    --amarillo: #f6e638;
    --rojo: #ba272c;
    --marron: #800000
}

/* Colores
verde: #5f7132;
gris: #6a6b66;
azul: #5574b0;
amarillo: #f6e638;
rojo: #ba272c;

SCSS RGB
--costa-del sol: rgba(95,113,50,255,1);
--storm-dust: rgba(106,107,102,255,1);
--san-marino: rgba(85,116,176,255,1);
--starship: rgba(246,230,56,255,1);
--tall-poppy: rgba(186,39,44,255,1); */

/*-------------Ver mas-------------------------------*/
article section div.mas a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: 5%;
}

article section .mas a img {
    width: 10%;
    transition: transform 0.4s;
    clear: both;
}

article section .mas a img:hover {
    transform: scale(1.3) rotate(0.01deg);
    cursor: pointer;
}

article section .mas a h3 {
    color: black;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

article section .mas a h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*-----------------------------------------------Header---------------------------------------*/
header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    background-image: url('../img/back03.webp');
    background-size: cover;
    background-position-y: 30%;
}

/*-------------Logo-------------------------------*/
header div {
    /* background-color: aliceblue; */
    width: 50%;
    display: flex;
    justify-content: left;
    padding-left: 5%;
}

header div a {
    display: flex;
    align-items: center;
}

header div a:nth-child(1) {
    width: 20%;
}

header div a:nth-child(2) h1 {
    color: var(--azul);
    font-size: xx-large;
    font-family: "Permanent Marker", cursive;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 90%;
}

/*-------------Menu-------------------------------*/
.menu {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    background: #6a6b66;
    width: 100%;
}

nav ul li a {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--amarillo);
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    transition: 0.4s ease-in-out;
    background-color: var(--azul);
}

nav ul li a:hover {
    color: var(--azul);
    background-color: var(--amarillo);
}


#abrir{
    display: none;
}
#cerrar {
    display: none;
}

/*-------------------Flecha Arriba----------*/


div.arriba {
    width: 5vw;
    position: fixed;
    bottom: 2%;
    right: 2%;
    animation-name: arriba;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes arriba {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

/*------------------------------------Footer-------------------------------*/
footer {
    clear: both;
    background-color: cadetblue;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer img {
    width: 40%;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer div a p {
    padding: 5%;
    color: black;
    transition: 4s ease-in-out;
}

footer div a p:hover {
    transition: 4s;
    text-decoration: underline;
}

/*------------------------Apartado-----------------------*/
.apartado {
    /* background-image: url('../img/ana.jpg'); */
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* .apartado div {
    background-color: var(--azul);
    width: 90%;
    height: 10%;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    opacity: 1;
} */

/* .apartado div:hover {
    opacity: 1;
} */

.apartado p {
    position: absolute;
    font-size: xx-large;
    padding: 7%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--amarillo);
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    border-radius: 15px;
    background-color: transparent;
    transition: 0.4s ease-in-out;
}

.apartado p:hover {
    background-color: rgba(85, 116, 176, 0.7);
}

/* -----------------------------Media query 480----------------------------------- */
@media only screen and (max-width: 480px) {
    header {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../img/back03.webp');
        background-size: cover;
        background-position-x: 60%;
    }

    /*-------------Logo-------------------------------*/
    header div {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(80, 114, 186, 0.5);
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 0%;
    }

    header div a {
        width: 50%;
    }

    header div a:nth-child(1) {
        width: 40%;
        border-bottom: black solid 2px;
    }

    header div a:nth-child(2) h1 {
        color: var(--marron);
        text-align: center;
    }
/*-------------Menu-------------------------------*/
.menu {
    display: none;
    position: fixed;
    height: 100vh;
    background-color: rgba(85, 116, 176, 0.9);
}

nav ul {
    flex-direction: column;
    justify-content: center;
}

nav ul li a {
    padding: 5%;
    color: var(--amarillo);
    font-weight: bolder;
    font-size: x-large;
    background-color:transparent;
}
nav ul li:nth-child(odd){
    background-color: transparent;
    border-bottom: white solid 1px;
}
nav ul li:nth-child(even){
    background-color: rgba(34, 151, 168, 0.9);
    border-bottom: white solid 1px;
}
nav ul li:first-child{
    border-top: white solid 1px;
}
nav ul li a:hover {
    color: var(--amarillo);
    background-color: rgba(85, 116, 176, 0.9);
}
    

/* ---------------------------------------------------------------------------- */
    #cerrar {
        width: 8%;
        position: fixed;
        top: 1%;
        left: 90%;
        z-index: 101;
    }

    #abrir {
        z-index: 101;
        width: 8%;
        display: block;
        position: fixed;
        top: 1%;
        left: 90%;
        border: 1px solid rgba(34, 151, 168, 0.9);
        border-radius: 20%;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*------------------------------------Footer-------------------------------*/
    footer {
        height: auto;
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    footer img {
        width: 70%;
        margin-bottom: 5%;
    }

    /*------------------------------------Flecha Arriba-------------------------------*/
    div.arriba {
        width: 8vw;
        position: fixed;
        bottom: 2%;
        right: 5%;
        animation-name: arriba;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    /*------------------------------------Apartado-------------------------------*/
    .apartado {
        display: none;
    }
}